
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #371077, #000000);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ccc;
}

button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  color: #661077;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #661077;
  color: #fff;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
footer{
  position: absolute;
  bottom: 10px;
  font-size: 0.8rem;
  color: #ccc;
  text-align: center;
}