* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at top left, #4b1e9c, #0d0d0d);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.logo:hover {
  transform: scale(1.05);
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: 700;

  cursor: pointer;
}
h1:hover {
  color: #8a2be2;
  text-shadow: 0 0 30px rgba(138, 43, 226, 0.7);
}

p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #ddd;
  max-width: 500px;
  cursor: pointer;
    font-weight: bold;
}
p:hover {
  color: #8a2be2;
  text-shadow: 0 0 10px rgba(138, 43, 226, 0.7);
}

button {
  padding: 14px 30px;
  font-size: 1.1rem;
  background: linear-gradient(135deg, #8a2be2, #661077);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: #0d0d0d 0px 4px 10px;
}

button:hover {
  background: linear-gradient(135deg, #661077, #450c5c);
  transform: translateY(-5px);
}

footer {
  width: 100%;
  font-size: 0.85rem;
  color: #aaa;
  text-align: center;
  display: flex;
  justify-content: center;
}
