* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: "Helvetica Neue", "Netflix Sans", sans-serif;
  color: #661077;
  text-align: center;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #661077;
}

header {
  background-color: rgb(24, 22, 22);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4);
}

header h1 {
  color: #661077;
  font-size: 2.5rem;
}

h1 {
  font-size: 2rem;
  color: #661077;
  margin-left: 20px;
  animation: fadeInZoom 1s ease-in-out;
  cursor: pointer;
}

h1 a {
  font-size: 40px;
  text-decoration: none;
}

.kaki {
  color: #661077;
  transition: all 0.3s ease;
  text-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
}

h1 a:hover .kaki {
  color: #fff;
  text-shadow: 0 0 15px rgba(138, 43, 226, 0.9),
               0 0 25px rgba(138, 43, 226, 0.7),
               0 0 35px rgba(138, 43, 226, 0.5);
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #661077;
}

p {
  color: white;
  transition: all 0.3s ease;
}

p:hover {
  text-shadow: 0 0 10px rgba(138, 43, 226, 0.7);
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

ul li {
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}


table {
  width: 100%;
  margin: 30px auto;
  border-spacing: 20px;
}

th {
  text-align: left;
  font-size: 1.5rem;
  padding-bottom: 10px;
  animation: fadeInZoom 1s ease-in-out;
}

td {
  text-align: center;
  transition: transform 2.2s ease;
}

td:hover {
  transform: scale(1.05);
}


.card-content p {
  margin: 5px 0;
}

.titulo-filme {
  font-weight: bold;
  font-size: 1.1rem;
  animation: fadeInZoom 1s ease-in-out;
}

a {
  color: #661077;
  font-size: 1.2rem;
}

img {
  width: 250px;
  height: 370px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 35px rgba(138, 43, 226, 0.9),
              0 0 70px rgba(138, 43, 226, 0.6);
  border: 2px solid #8a2be2;
}


footer {
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.mais {
  color: #fff;
  transition: color 0.3s ease;
  font-size: 4rem;
}

h1 a:hover .mais {
  color: #661077; 
}
